/*CONFIGURAÇÕES GERAIS E PAGE SOBRE*/
.esquerda{
    background-color: #3F9BD4;
    width: 15%;
}

.direita{
    background-color: #C2DDED;
    color: #2c698f;
}

.btn{
    background-color: #0c2537 !important;
    color: #ffffff !important;
}

.btn:hover {
    background-color: #0a1c29 !important;
    color: #ffffff !important;
}

a{
    text-decoration: none !important;
}

a:visited{
    background-color: #0c2537 !important;
    color: #ffffff !important;
    text-decoration: none !important;
}

.email a{
    color: #ffffff !important;
    text-decoration: none !important;
}

.email a:hover{
    text-decoration: underline !important;
    text-decoration-color: #ffffff !important;
}

.avatar img {
    width: 40px;
    opacity: 0.5
}

.avatar img:hover{
    opacity: 1.0
}

#avatar{
    opacity: 0.9;
}

