/*CONFIGURAÇÕES GERAIS E PAGE SOBRE*/
.esquerda{
    background-color: #185077;
    width: 15%;
}
.direita{
    background-color: #2986bc;
    color: rgba(240, 248, 255, 0.712);
}

.btn{
    background-color: #0c2537 !important;
    color: #ffffff !important;
}
.btn:hover {
    background-color: #0a1c29 !important;
    color: #ffffff !important;
}
a{
    text-decoration: none !important;
}
a:visited{
    background-color: #0c2537 !important;
    color: #ffffff !important;
    text-decoration: none !important;
}
.avatar img {
    width: 40px;
    opacity: 0.5
}
.avatar img:hover{
    opacity: 1.0
}
#avatar{
    opacity: 0.9;
}
.progress-bar{
    "
}